<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Registrar Desafio Feito para</title>
</head>
<body>
<section class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Registrar Desafio Feito para <span th:text="${pessoa.nome}"></span></h2>

    <form th:action="@{/pessoas/{idPessoa}/salvar-desafio-feito(idPessoa=${pessoa.idPessoa})}" th:object="${desafioFeitoRequest}" method="post" class="space-y-6">
        <div>
            <label for="idDesafio" class="block text-gray-700 text-sm font-semibold mb-2">Desafio:</label>
            <select id="idDesafio" th:field="*{idDesafio}" required
                    class="shadow-sm border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
                <option value="">-- Selecione um Desafio --</option>
                <option th:each="desafio : ${desafios}"
                        th:value="${desafio.idDesafio}"
                        th:text="${desafio.nome}">
                </option>
            </select>
        </div>

        <div>
            <label for="data" class="block text-gray-700 text-sm font-semibold mb-2">Data de Conclusão:</label>
            <input type="date" id="data" th:field="*{data}" required
                   class="shadow-sm appearance-none border rounded-md w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
        </div>

        <div class="flex justify-end space-x-4">
            <a th:href="@{/pessoas/detalhes/{idPessoa}(idPessoa=${pessoa.idPessoa})}" class="btn-secondary px-6 py-3 rounded-md text-lg font-semibold transition duration-300 ease-in-out">Cancelar</a>
            <button type="submit" class="btn-primary px-6 py-3 rounded-md text-lg font-semibold transition duration-300 ease-in-out transform hover:scale-105">Registrar Desafio</button>
        </div>
    </form>
</section>
</body>
</html>
